.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.reservation-form {
  width: 700px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation-form h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #2563eb, #22c55e, #818cf8);
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: inline-block;
  color: transparent;
  background-clip: text;
  margin-left: 45%;
}

.reservation-form .ant-input,
.reservation-form .ant-select,
.reservation-form .ant-picker {
  width: 100%;
  border-radius: 5px;
}

